html {
    font-family: sans-serif;
    background-color: #189AB4;
    color:antiquewhite;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #05445E;
    max-width: 100%;
    border-style: groove;
    box-shadow: 0 0 15px 0 white; 
    max-width: 100%; 
    width: 99.7%;
    color: antiquewhite;
    margin-top: 125px;
    
    
    
}



nav {
    background-color: #05445E;
    height:6%;
    padding: 20px;
    display: flex;
    box-shadow: 0 0 15px 0 white;
    border-style: double;
    color: antiquewhite;
    text-align: center;
    font-size: 2vw;
    align-items: center;
    justify-content: center;
    position:fixed;
    left:0px;
    right:0px;
    top: 0;
    

}

nav ul {
    list-style: none;
}

nav li { 
    display:inline-flex;
    margin: 30px;
    

}

a {
color: antiquewhite;
text-decoration: none;
}

main {
    background-color: #D4F1F4;
    box-shadow: 0 0 15px 0 white;
    display: block;
    min-height: 100%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: -1%;

} 
body {
    margin: 0;
}


footer {
    background-color: #05445E;
    height: 6%;
    padding: 15px;
    display: flex;
    box-shadow: 0 0 15px 0 white;
    border-style: double;
    /* position: fixed; */
    bottom:0px;
    left:0px;
    right:0px;
}

main > img {
    width:300px;
    height: 400px;
    margin:auto;
    border: black;
    display: flex;
    padding-top: 100;

}

main {
    color:black;
    text-align: center;
    font-size: 75%vw;
    margin-bottom: -50px;
}

h2 {
    text-decoration: underline;
}

p {
    background-color:aliceblue;
    border-radius: 15%;
    padding: 50px;
}

section {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

section > img {
    width:30%;
    height: 40%;
    margin:auto;
    border: black;
    display: flex;
    padding-top: 100;

}

footer {
    text-align: center;
}

